
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>AMG TDI 12-Day Milestone</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
   <body>
    <div id="myplot"></div>
    <script>
    fetch('/plot')
      .then(function(response) { return response.json(); })
      .then(function(item) { return Bokeh.embed.embed_item(item); })
    </script>
  </body>
</html>